* {
	list-style: none;
}

body {
	background-color: white;
	background-size: cover;
	background-position: center;
	margin: 0px;
	padding: 0px;
	position: static;
	display: inline-block;
}

.miNombre:hover {
	cursor: none;
}

.ayuda {
	float: left;
	height: 50px;
	padding: -8px 104px;
	font-size: 18px;
	line-height: 20px;
	background-color: white;
	color: black;
	font-weight: bold;
	width: 124px;
	text-align: center;
	margin-left: 22px;
}

#mi-enlace:hover {
	cursor: pointer;
}

main {
	display: flex;
	margin-bottom: 50px;
	margin-left: 10px;
}

.bi-person-fill{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	object-fit: cover;
	background: rgb(214, 254, 249);
}

.principal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 50px;
	width: 350px;
	height: 550px;
	box-shadow: 20px 0px 5px 0px #A9AFA3;
	filter: shadow(color=#999999, direction=135, strength=2);
}

span1{
	margin-left: 121px;
	display: flex;
	white-space: nowrap;
	border-right: 1px solid;
	width: 10ch;
	
	animation: typing 0.5s steps(10), blink .5s infinite step-end alternate;
	overflow: hidden;
}

@keyframes typing{
	from{width: 0}
}

@keyframes blibk{
	50%{border-color: transparent;}
}

h1 {
	font-family: Cambria, sans-serif;
}

.img-admin {
	font-size: 15px;
	text-align: center;
}

.Bienvenido {
	font-size: 20px;
	font-weight: bold;
}

hr {
	border: 1px solid black;
}

.caja {
	margin-top: -35px;
	font-family: Markazi Text;
	text-align: left;
	font-size: 20px;
	width: 350px;
	position: relative;
}

.img1 {
	font-size: 22px;
	font-family: Markazi Text;
	vertical-align: middle;
}

.caja nav {
	font-family: Markazi Text;
	color: black;
	text-decoration: none;
	right: 0;
}

.caja nav li {
	font-family: Markazi Text;
	margin: 20 20 0 0px;
	text-decoration: none;
}

.caja nav a {
	font-family: Markazi Text;
	color: #000000;
	font-size: 15px;
	text-decoration: none;
}

.caja a:link {
	padding-top: 20px;
	color: black;
	text-decoration: none;
}

.caja a:visited {
	color: black;
	text-decoration: none;
}

ul1 {
	letter-spacing: 0.225px;
	font-size: 10px;
	font-family: Markazi Text;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

ul1 li1 {
	letter-spacing: 0.225px;
	position: relative;
	list-style: none;
}

ul1 li1 a {
	letter-spacing: 0.225px;
	font-family: Markazi Text;
	position: relative;
	font-size: 5em;
	text-decoration: none;
	line-height: 1em;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 5px rgba(255, 255, 255, 0.5);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul1 li1 a::before {
	letter-spacing: 0.225px;
	font-family: Markazi Text;
	margin-top: 28px;
	margin-left: 44px;
	content: attr(data-text);
	position: absolute;
	color: var(--clr);
	width: 0;
	overflow: hidden;
	transition: 1s;
	border-right: 2px solid var(--clr);
	-webkit-text-stroke: 1px var(--clr);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul1 li1 a:hover::before {
	letter-spacing: 0.225px;
	font-family: Markazi Text;
	width: 300px;
	filter: drop-shadow(0 0 25px var(--clr));
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tickethub {
	margin-top: 10px;
	height: 60px;
	font-family: Goudy Bookletter 1911;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: white;
	background-color: rgba(24, 45, 64, 1);
}

.segundaria {
	margin-left: 400px;
	margin-top: 50px;
	display: inline-block;
	align-items: inherit;
	box-sizing: border-box;
	padding: 10px 20px;
	width: 900px;
	height: 400px;

}

.ancha-izquierda {
	width: 1200px;
	margin-left: 20px;
}

span {
	font-size: 22px;
}

.container1 {
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

.tabla {
	position: relative;
	margin-left: 50px;
	z-index: 1;
}

footer h1 {
	padding-left: 40px;
	padding-top: 10px;
	text-align: start;
	font-size: 22px;
	color: white;
	position: absolute;
	margin-top: 140PX;
	width: 1000px;
	height: 50px;
	background: rgb(24, 45, 64);
	background: linear-gradient(90deg, rgba(24, 45, 64, 1) 21%, rgba(27, 42, 55, 1) 40%, rgba(34, 34, 34, 1) 100%);
	z-index: 0;
}