
.miNombre:hover {
	cursor: none;
}


#mi-enlace:hover {
    cursor: pointer;
}

.ayuda {
        float: left;
    height: 50px;
    padding: -8px 104px;
    font-size: 18px;
    line-height: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    width: 124px;
    text-align: center;
    margin-left: 22px;
}

