* {
    list-style: none;
}

body{
    background-image: url(Imagenes/Fondo-index.png);
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    position: static;
    display: inline-block;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 10px;
}


.principal {
    margin-top: 50px;
    width: 350px;
    height: 500px;
    box-shadow: 20px 0px 5px 0px #A9AFA3;
    filter: shadow(color=#999999, direction=135, strength=2);
}

.img-admin {
    font-size: 15px;
    text-align: center;
}

.Bienvenido{
    font-size: 20px;
    font-weight: bold;
}

hr{
    border: 1px solid black;
}

.caja {
    font-family: Markazi Text;
    text-align: left;
    font-size: 20px;
    width: 350px;
    position: relative;
    margin: 0 auto;
}

.img1 {
    font-size: 22px;
    font-family: Markazi Text;
    vertical-align: middle;
}

.caja nav {
    font-family: Markazi Text;
    color: black;
    text-decoration: none;
    right: 0;
}

.caja nav li {
    font-family: Markazi Text;
    margin: 20 20 0 0px;
    text-decoration: none;
}

.caja nav a {
    font-family: Markazi Text;
    color: #000000;
    font-size: 22px;
    text-decoration: none;
}

.caja a:link {
    padding-top: 20px;
    color: black;
    text-decoration: none;
}

.caja a:visited {
    color: black;
    text-decoration: none;
}

.tickethub {
    margin-top: 70px;
    height: 60px;
    font-family: Goudy Bookletter 1911;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: rgba(24, 45, 64, 1);
}

.segundaria {
    margin-top: 50px;
    display:inline-block;
    align-items: inherit;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 1000px;
    height: 400px;
}

h4, span{
    margin-left: 100px;
}

.container1 {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.tabla{
    margin-left: 50px;
}