<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Registro de Usuarios</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="static/css/style-Prestamo.css" th:href="@{/css/style-Prestamo.css}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="miNombre">
				<p class="navbar-brand">TICKETHUB</p>
			</div>

			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()">
						<a th:href="@{/}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-arrow-return-left" viewBox="0 0 16 16">
								<path fill-rule="evenodd"
									d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
							</svg> Volver
						</a>
					</li>

					<li>
						<a id="mi-enlace" onclick="mostrarMensaje()">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-patch-question" viewBox="0 0 16 16">
								<path
									d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z" />
								<path
									d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z" />
								<path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0z" />
							</svg> Ayuda
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="secction">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div th:if=${param.exito} style="background-color: springgreen;">
						<div id="alertBox"
							style="width: 250px; height: 50px; text-align: unset; padding-left: 20px; padding-top: 2px;">
							<p>Se ha generado la solicitud exiosamente</p>
						</div>
					</div>

					<h1 style="text-align: center;">Solicitud de Préstamo</h1>
					<hr style="margin-top: 20px; margin-bottom: 20px;">

					<h4 style="text-align: left;">Datos del Solicitante:</h4>
					<hr>
					<h6>Agregue el número de la cedula y el sistema le mostrata los datos</h6>
					<form th:action="@{/prestamo}" method="post" th:object="${activos}">
						<div class="two-column-form">
							<div class="form-group">
								<label class="control-label" for="cedula">Cedula* :</label>
								<input id="cedula" type="search" class="form-control" th:field="*{cedulaEstudiante}"
									required autofocus onchange="buscarUsuario()">
							</div>

							<div class="form-group">
								<label class="control-label" for="nombre">Nombre :</label>
								<input id="nombre" type="text" class="form-control" th:field="*{nombreEstudiante}"
									required readonly>
							</div>

							<div class="form-group">
								<label class="control-label" for="apellido">Apellido :</label>
								<input id="apellido" type="text" class="form-control" th:field="*{apellidoEstudiante}"
									required readonly>
							</div>

							<div class="form-group">
								<label class="control-label" for="email">Correo :</label>
								<input id="email" type="email" class="form-control" th:field="*{usernameEstudiante}"
									required readonly>
							</div>

							<div class="form-group">
								<label class="control-label" for="facultad">Facultad :</label>
								<input id="facultad" type="text" class="form-control" th:field="*{facultadEstudiante}"
									required readonly>
							</div>

							<p style="margin-top: 20px;">Si el solicitante no está registrado, <a
									th:href="@{/gestorRegistroDeUsuario}">Haga Click Aquí</a></p>
						</div>
						<br>
						<h4 style="text-align: left;">Datos del Equipo:</h4>
						<hr>
						<h6>Seleccione la descripción del equipo y el sistema le mostrata los datos y su disponibilidad
						</h6>

						<div class="form-group equipo-group">

							<div class="form-group">
								<label class="control-label" for="descripcion">Descripción* :</label>
								<select id="descripcion" class="form-control" th:field="*{descripcionEquipo}"
									required></select>
							</div>

							<div class="form-group">
								<label class="control-label" for="categoria">Categoría :</label>
								<input id="categoria" type="text" class="form-control" th:field="*{categoriaEquipo}"
									required readonly>
							</div>

							<div class="form-group">
								<label class="control-label" for="referencia">Referencia :</label>
								<input id="referencia" type="text" class="form-control" th:field="*{referenciaEquipo}"
									required readonly>
							</div>

							<div class="form-group">
								<label class="control-label" for="serial">Serial :</label>
								<input id="serial" type="text" class="form-control" th:field="*{serialEquipo}" required
									readonly>
							</div>

							<div class="form-group">
								<input id="estado" type="hidden" class="form-control" th:field="*{estado}"
									th:value="${true}" required readonly>
							</div>


						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success" onclick="confirmarGuardar(event)">GENERAR
								PRESTAMO</button>
						</div>

						<script>
							function confirmarGuardar(event) {
								if (document.getElementById("serial").value === "") {
									alert("Debe selecionar un equipo en la lista de 'Descripción'.");
									event.preventDefault(); // Evita el envío del formulario si el campo Serial está vacío
								} else if (!confirm("¿Desea guardar los cambios?")) {
									event.preventDefault(); // Evita el envío del formulario si el usuario hace clic en "Cancelar"
								}
							}
						</script>



						<script>
							function buscarDescripcion() {
								var xhr = new XMLHttpRequest();
								xhr.open("GET", "/buscarDescripcion", true);
								xhr.onreadystatechange = function () {
									if (xhr.readyState === 4 && xhr.status === 200) {
										var respuesta = JSON.parse(xhr.responseText);

										if (respuesta.length > 0) {
											var selectDescripcion = document.getElementById("descripcion");
											selectDescripcion.innerHTML = "";

											for (var i = 0; i < respuesta.length; i++) {
												var descripcion = respuesta[i];
												var option = document.createElement("option");
												option.value = descripcion;
												option.text = descripcion;
												selectDescripcion.appendChild(option);
											}

											selectDescripcion.addEventListener("change", function () {
												var descripcionSeleccionada = selectDescripcion.value;
												buscarDetallesPorDescripcion(descripcionSeleccionada);
											});
										}
									}
								};
								xhr.send();
							}

							function buscarDetallesPorDescripcion(descripcion) {
								var xhr = new XMLHttpRequest();
								xhr.open("GET", "/buscarDetalles?descripcion=" + descripcion, true);
								xhr.onreadystatechange = function () {
									if (xhr.readyState === 4 && xhr.status === 200) {
										var respuesta = JSON.parse(xhr.responseText);

										if (respuesta.referencia && respuesta.serial && respuesta.estado) {
											document.getElementById("referencia").value = respuesta.referencia;
											document.getElementById("serial").value = respuesta.serial;
											document.getElementById("categoria").value = respuesta.categoria;
										} else {
											document.getElementById("referencia").value = "";
											document.getElementById("serial").value = "";
											document.getElementById("estado").value = "";
											document.getElementById("categoria").value = "";
										}
									}
								};
								xhr.send();
							}



							// Llamar a la función buscarDescripcion() al cargar la página
							window.addEventListener("load", function () {
								buscarDescripcion();
							});



						</script>




						</script>


					</form>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<h1>© Universidad Cooperativa</h1>
	</footer>

	<!-- jQuery and Bootstrap Bundle (includes Popper) -->



	<script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
		</script>

	<script th:src="@{/js/script-Prestamo.js}"></script>
</body>

</html>